/* header css */
.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
}

.header div {
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    text-align: left;
    padding-left: 200px;
}

ul {
    display: flex;
    list-style-type: none;
    padding-right: 200px;
}

li {
    flex: 1;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* content css */
.content {
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
}

.content div {
    flex: 1;
    text-align: center;
}

.top {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.left {
    margin-left: 200px;
    padding-right: 30px;
}

.right {
    margin-right: 200px;
    padding-left: 30px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    text-align: left;
    margin-top: 0;
    margin-bottom: 0;
}

.secondary-text{
    font-size: 18px;
    color: #e5e7eb;
    text-align: left;
}

.top-button {
    text-decoration: none;
    background-color: #3882f6;
    color: white;
    float: left;
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.placeholder {
    width:auto;
    padding: 70px;
    background-color: grey;
}

.middle-top {
    padding-top: 15px;
    padding-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-items {
    flex: 1;
}

.middle-bottom {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e5e7eb;
}

.quote {
    margin-left: 325px;
    margin-right: 325px;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    text-align: left;
}

.author {
    margin-left: 325px;
    margin-right: 325px;
    font-size: 28px;
    font-weight: bold;
    color: #1f2937;
    text-align: right;
}

.bottom {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 120px;
    padding-right: 120px;
}

.blue-box {
    background-color: #3882f6;
    display: flex;
    border-radius: 8px;
    align-items: center;
}

.blue-box div {
    flex: 1;
    padding-top: 25px;
    padding-bottom: 25px;
}


.bottom-text {
    margin-left: 200px;
    padding-right: 30px;
}

.message-1 {
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    color: #f9faf8;
}

.message-2 {
    text-align: left;
    padding-top: 0;
    margin-top: 0;
    color:  #f9faf8;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-button {
    text-decoration: none;
    background-color: #3882f6;
    color: white;
    border-color: white;
    border-radius: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
/* footer css */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
  }