/* header css */
.header {
    display: flex;
    background-color: #1f2937;
    align-items: center;
}

.header div {
    flex: 1;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    text-align: center;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    flex: 1;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* footer css */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
  }